<div class="banner">
    <div class="characters-cards">
        <div class="Card">
           
            <div class="image">
                <img src="https://i.scdn.co/image/ab67616100005174d624c3bdcf79aeac5190479d" alt="nada aun">
            </div>
            <div class="descriptions">
                <h3>Nombre del personaje "debe ser modificado"</h3>
                <p>Descriptions: Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias deleniti minima sed soluta in quis laudantium 
                <br> molestiae dolores illum ducimus, quidem praesentium itaque nostrum consequatur. Obcaecati possimus nihil sint explicabo?  
                </p>
            </div>

        </div>
    </div>
</div>