.banner{
    display: flex;
    align-content: space-between;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 15%;
    margin-right: 15%;
}

.Card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3vh;
    
}



.image{
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  

}

.descriptions{
    padding: 4%;
}

.not-found {
    text-align: center;
}