
<div class="banner" *ngIf="personajes.length > 0">
    <div class="characters-cards">
        <div class="Card" *ngFor="let p of personajes">
        <a [routerLink]="['/descriptions',p.id] " >
            <div class="image">
                 <img [src]="p.image" [alt]="p.name" width="360" height="360 " />
            </div>
        </a>
            <div class="descriptions">
                <h3>{{p.name}}</h3>
                <p>{{p.status}}</p>
                <p>{{p.species}}</p>
            </div>
        </div>
    </div>
</div>

<div class="not found" *ngIf="personajes.length === 0">
    <p>No existen Personajes con este nombre, prueba otra vez!</p>
</div>

