.banner{
    display: flex;
    align-content: space-between;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 15%;
    margin-right: 15%;
}

.Card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3vh;
    
}

.Card div{
    margin-left: 25%;
    margin-right: 25%;
    border: 1px solid black;


    
}

.image{
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;

}

.descriptions{
    padding: 4%;
}

