/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(-45deg, #0b0f0d, #1e4023, #2ecc71, #0f0f0f);
    background-size: 400% 400%;
    animation: moverFondo 10s ease infinite;
    font-family: 'Courier New', Courier, monospace;
    color: aqua;
  }
  
  @keyframes moverFondo {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }